[submodule "src/Fobia/Base"]
	path = src/Fobia/Base
	url = git@github.com:fobiaweb/Base.git
[submodule "src/Fobia/DataBase"]
	path = src/Fobia/DataBase
	url = git@github.com:fobiaweb/DataBase.git
[submodule "src/Fobia/Auth"]
	path = src/Fobia/Auth
	url = git@github.com:fobiaweb/Auth.git
[submodule "src/Fobia/Api"]
	path = src/Fobia/Api
	url = git@github.com:fobiaweb/Api.git
	branch = develop
[submodule "src/Fobia/Debug"]
	path = src/Fobia/Debug
	url = git@github.com:fobiaweb/Debug.git
[submodule "src/Slim"]
	path = src/Slim
	url = git@github.com:fobiaweb/Slim-Views.git
	branch = master

