<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         >

    <testsuites>
       <testsuite name="fobia">
         <directory suffix="Test.php">tests/units</directory>
       </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory suffix=".php">src</directory>
      </whitelist>
    </filter>


    <logging>
      <log type="coverage-html"  charset="UTF-8" highlight="false"
        lowUpperBound="35" highLowerBound="70"
                                    target="app/tmp/report"/>
    <!--
      <log type="coverage-clover"   target="app/tmp/coverage.xml"/>
      <log type="coverage-php"      target="app/tmp/coverage.serialized"/>
      <log type="coverage-text"     target="php://stdout" showUncoveredFiles="false"/>
      <log type="json"              target="app/tmp/logfile.json"/>
      <log type="tap"               target="app/tmp/logfile.tap"/>
      <log type="junit"             target="app/tmp/logfile.xml" logIncompleteSkipped="false"/>
      <log type="testdox-html"      target="app/tmp/testdox.html"/>
      <log type="testdox-text"      target="app/tmp/testdox.txt"/>
  -->
    </logging>


</phpunit>
